body {
	background: #4984e3;
}

div, textarea, input {
	font-family: roboto;
}

.text-field-description {
  background-color: white !important;
  margin: 0 !important;
  border-radius: 5px;
  textarea, input, div {
    background-color: initial !important;
    font-size: 16px;
    & {
      :hover,
      :active,
      :visited,
      :focused {
        background-color: initial !important;
      }
    }
  }
  div::before {
    border-bottom: 0 !important;
  }
  div::after {
  	display: none !important;
  }
  div:first-child {
    border-radius: 5px !important;
    margin: 0 !important;
  }
}

.input-separator {
  margin-bottom: 10px;
}

.preview-image-animation {
  background-color: white;
  color: black;
  height: 300px;
  transform: scale(1);
  opacity: 1;
}

.save-button {
  background: white;
  font-size: 16px;
  border: 0;
  padding: 0 25px;
  line-height: 16px;
  height: 35px;
  margin: 0 0 15px 0;
  border-radius: 25px;
  color: #4984e3;

  &:hover {
    background: white;
    color: #4984e3;
  }
}

.ant-btn.ant-btn-primary.christmas:before {
  display: none!important;
}
